@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body{
	background-color: black; 
}

#album{
	max-height: 250px;
	border-radius: 5px;
}
#albumSpace{
	padding-top: 5px;

}
#headline{
	padding-top: .5em;
}
#info{
	padding: .5em;
	background-color: #888888;
	border: solid 2px;
	border-spacing: 4px;
}
#title{
	padding-top: 1em;

}
#paragraph{
	padding-top: 1em;
}
input[type="text"]{
	width:  500px;
	padding: .5em;
}
button[type="submit"]{
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100px;
	height: 25px;
}
#form{
	background-color: gray;
	border: solid 2px;
	padding-bottom: .5em;
}
#stars{
	padding-top: 10px;
}
.textbox{
	background-color: white;
	border-radius: 3px;
	border: solid 1px gray;
}
.existing{
	border: solid 2px;
	padding: 10px;
	background-color: #888888;
}
.spacing{
	height: 10px;
	background-color: white;
}

