/* Your stylesheet goes here */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway';
}


svg{
	height: 1em;
	fill: white;
}

#cup2{
	height: 1.5em;
	/*padding-bottom: 1em;*/
	fill: #A65300;
}

nav{
	position: fixed;
	z-index: 1;
	background-color: #181c22;
	color: white;
	font-size: 16px;
	display: inline;
	padding-left: .5em;
	padding-right: .5em;
	font-variant: small-caps;
	text-decoration: none;
	width: 100%;
}
nav > a{
	padding-left: .5em;
	padding-right: .5em;
	color: white;
	left: 15px;
}
nav > a:hover{
	color:#d87e28;

}
#header{
	padding-top: 3em;

}
#motto{
	display:none;
}

#headline{
	font-style: italic;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;

}
#headline > p{
	padding-top: 1em;
}

.infosvg{
	fill: #A65300;
	height: 2em;
}

#info{
	padding-top: 1em;
	background-color: #dbdce3;
	padding-bottom: 1em;
}

#mappic{
	border-radius: 5px;
	padding-top: 1em;
}

.contact-text{
	padding-top: .5em;
}

#hours{
	padding-bottom: 1em;
	background-color: #dbdce3;
}

#map{
	padding-bottom: 1em;
	background-color: #dbdce3;
}

#contact{
	padding-bottom: 1em;
	background-color: #dbdce3;
}

.desc{
	font-style: italic;
	list-style-type: none;
	right: 1em;
}

.foodname{
	font-weight: 800;
	list-style-type: none;
}

#menutitle{
	color:#A65300;
}

#menu > p, #menu > div > p{
	font-weight: 500;
}


#menu{
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#lady{
	float: right;
	max-height: 300px;
	margin-left: 1em;
	border-radius: 5px;
}
#story{
	background-color: #dbdce3;
	padding-top: 1em;
	padding-bottom: 2em;
}
#story>h2{
	color:#A65300;
}
#footer{
	border-width: 3px;
	border-color: color:#A65300;
	border-top: solid;
	font-size: 12px;
	padding-top: 1em;
}


@media screen and (min-width: 768px){
	body{
		font-size: 16px;
	}
	h1, h2, h3, h4, h5, h6 > h1, h2, h3, h4, h5, h6{
		text-align: center;
		padding-bottom: 1em;
	}
	nav{
		background-color: rgba(24, 28, 34, 0.8);
		padding: 1em;
	}
	#header{
		background-image: url("../img/background-sm.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		text-align: right;
		min-height: 550px;
	}
	#motto{
		display: initial;
	}
	#title{
		display: initial;
	}
	#headline{
		font-size: 1.25em;
	}
	#lady{
		max-height: 400px;
	}
	#story>h2{
		text-align: center;
	}
	#rightfooter{
		text-align: right;
	}
}

@media screen and (min-width: 992px){
	#title{
		font-size: 4em;
	}
	#header{
		background-image: url("../img/background-md.jpg");
		background-repeat: no-repeat;
	}
	
}

@media screen and (min-width: 1200px){
	#header{
		background-image: url("../img/background-lg.jpg");
		background-repeat: no-repeat;
	}
	
}




